<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Galeria de Fotos </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Galeria de Fotos</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    @for (photo of photoService.photos; track photo.filepath) {
      <ion-item>
        @if (photo.webviewPath) {
          <img [src]="photo.webviewPath" alt="Foto" class="photo-thumb" />
        }
        <ion-label> {{ photo.filepath }} </ion-label>
      </ion-item>
    }
  </ion-list>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="addNewToGalery()">
      <ion-icon name="camera"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
